#content {
    display: inline-table;
    text-align: center;
}
.content--item {
    width: 8rem;
    text-align: center;
    padding: 0.5rem 0rem;
    display: inline-block;
}
.content--icon {
    width: 4rem;
    font-size: 3rem;
}
#content--blog--icon::before {
    content: "\f032";
}
#content--github--icon::before {
    content: "\f09b";
}
#content--mm--icon::before {
    content: "\f1d7";
}
#content--qq--icon::before {
    content: "\f1d6";
}
@media only screen and (min-width: 512px) {
    #content {
        width: calc(100% - 6rem);
    }
}