#info {
    text-align: center;
}
#avatar {
    width: 8rem;
    margin: 1rem;
    border-radius: 0.5rem;
}
#name {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.name {
    width: 2rem;
    height: 4rem;
    margin: -3rem 0 4rem;
    filter: drop-shadow(0rem 4rem #00CCFF)
}
@media only screen and (min-width: 512px) {
    #info {
        display: flex;
    }
    #avatar {
        width: 4rem;
    }
}