#nav-bar {
    background: #FFF;
    text-align: center;
    top: 0rem;
}
.nav-bar--item {
    display: inline-block;
}
.nav-bar--item:hover {
    background: #EEE;
}
.nav-bar--icon {
    font-size: 3rem;
}
@media only screen and (min-width: 512px) {
    #nav-bar {
        width: 4rem;
        position: sticky;
        margin-left: 1rem;
        display: inline-table;
    }
}