#nav-bar {
    position: sticky;
    background-color: #000;
    text-align: center;
    top: 0rem;
    padding-block: 5vw;
}
.nav-bar--item {
    display: inline-block;
}
.nav-bar--item:hover {
    background-color: #88888888;
}
.nav-bar--icon {
    font-size: 3rem;
}
@media only screen and (min-width: 512px) {
    #nav-bar {
        top: 6rem;
        width: 4rem;
        padding-block: 0rem;
        margin-left: 1rem;
        display: inline-table;
    }
}