#hover-window--hover {
    z-index: 32;
    position: fixed;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #80808080;
}
.hover-window--hover--hide {
    opacity: 0;
    pointer-events: none;
}
#hover-window {
    background-color: #FFFFFFB0;
    backdrop-filter: blur(4px);
    transition: transform 0.2s;
}
.hover-window--hide {
    transform: scale(0.5);
}
#hover-window--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}
#hover-window--close {
    width: 3rem;
    cursor: pointer;
    text-align: center;
    font-size: 3rem;
}
#hover-window--close:hover {
    background-color: #FF000080;
    color: #FFF;
}
#hover-window--close::before {
    content: "\f00d";
}
#hover-window--img {
    display: block;
    min-height: 16rem;
    width: 16rem;
    margin: 1rem;
    transition: none;
    margin-top: 0rem;
    background-size: cover;
    background-position: center;
}
